<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
    <add key="navigator" value="https://www.myget.org/F/navigator/api/v3/index.json" />
    <add key="appmetrics" value="https://www.myget.org/F/appmetrics/api/v3/index.json" />
  </packageSources>
</configuration>
